<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.datla.mounica2017summer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewPagerActivity" />
        <activity
            android:name=".fragment.ActivityA"
            android:launchMode="singleInstance" />
        <activity android:name=".ScaleTypeActivity" />
        <activity android:name=".PatchActivity" />
        <activity android:name=".fragment.ActivityB" />
        <activity android:name=".fragment.ActivityA$ActivityC" />
        <activity android:name=".PatchActivity$ActivityD" />
        <activity android:name=".fragment.ActivityC" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".AdvanceListViewActivity" />
        <activity android:name=".activity_advance_list_item">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>